@import "@flaticon/flaticon-uicons/css/regular/rounded";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: monospace;
}

* {
  box-sizing: border-box;
}

main {
  display: none;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#toolbar {
  padding: 0.25rem;
}

#panels {
  height: calc(100% - 2rem);
  display: flex;
  flex-direction: row;
}

#root {
  flex-grow: 1;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#editor {
  width: 50%;
  max-width: 800px;
  height: 100%;
  position: relative;
}

button {
  height: 1.5rem;
}

#play {
  display: block;
  height: 2.5rem;
  padding: 0.5rem;
}

#root iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  visibility: hidden;
}

.colorSlider .MuiSlider-rail,
.colorSlider .MuiSlider-track {
  background: linear-gradient(90deg,
      rgba(255, 0, 0, 1) 0%,
      rgba(255, 154, 0, 1) 11%,
      rgba(208, 222, 33, 1) 22%,
      rgba(79, 220, 74, 1) 33%,
      rgba(63, 218, 216, 1) 44%,
      rgba(47, 201, 226, 1) 55%,
      rgba(28, 127, 238, 1) 66%,
      rgba(95, 21, 242, 1) 77%,
      rgba(186, 12, 248, 1) 88%,
      rgba(251, 7, 217, 1) 100%);
  background-size: 470px;
}

.colorSlider .MuiSlider-root {
  width: 470px;
}

.contrastSlider .MuiSlider-rail,
.contrastSlider .MuiSlider-track {
  background: linear-gradient(90deg,
      rgba(200, 200, 200, 1) 0% rgba(0, 0, 0, 1) 100%,
    );
  background-size: 470px;
}

.contrastSlider .MuiSlider-root {
  width: 470px;
}

.fi {
  display: flex;
}

.error-line-background {
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.05),
    rgba(255, 0, 0, 0.05) 3px,
    rgba(255,0, 0, 0.1) 3px,
    rgba(255,0, 0, 0.1) 6px
  );
}

.error-line {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.error-line:after {
  height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 5px solid rgba(255, 0, 0, 0.4);
  content: ' ';
  position: absolute;
  right: 0;
  z-index: -1;
}

.error-line:before {
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.4),
    rgba(255, 0, 0, 0.4) 3px,
    rgba(255,0, 0, 1) 3px,
    rgba(255,0, 0, 1) 6px
  );
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 70%;
  color: rgba(255,0, 0, 1);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  font-family: uicons-regular-rounded !important;
  font-style: normal;
  font-weight: bold !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1.665em;
  height: 110%;
  text-align: right;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f3a5";
  position: absolute;
  overflow-x: visible;
  right: 5px;
  z-index: 2;
}

.code-snippet {
  position: relative;
  padding: 1em;
}

.code-snippet:hover:after, .code-snippet:focus:after {
  content: 'click or press enter to copy';
  font-size: 0.75em;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(110%);
  overflow: visible;
  display: block;
}

.code-snippet:hover:after {
  content: 'Click to copy';
}

.code-snippet:focus:after {
  content: 'Press enter to copy';
}